<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - o projekcie</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>

<div class="wid">
    <h1>O projekcie</h1>
    <h2>Aplikacja powstała jako projekt z przedmiotu PIK. Pozwala na naukę przy pomocy fiszek.</h2>
</div><!-- /.container -->
<footer th:replace="footer :: footer"></footer>
</body>
</html>