<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - dodaj kurs</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <script src="/js/courseManagement.js"></script>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>

<div class="container">
    <h1>Dodaj kurs</h1>
    <br></br>
    <form action="/saveAddCourse" method="POST">
        <label>Nazwa kursu:</label>
        <input  type="text" name="name"></input>
        <br></br>
        <label>Opis kursu:</label>
        <input  type="text" name="description"></input>
        <input type="submit" value="Dodaj"></input>
    </form>

</div><!-- /.container -->
<footer th:replace="footer :: footer"></footer>
</body>
</html>