<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - pole kursu</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>

<div class="container">
    <h1>Dodaj pytanie do kursu</h1>
    <h2>Hello, <span th:text="${userId}"></span>, twoj kurs <span th:text="${courseId}"></span></h2>


    <ul>
        <th:block>
            <li th:each="item : ${questions}"> Pytanie: <span th:text="${item.question}"></span><span th:text="${item.answer}"></span> </li>
        </th:block>
    </ul>

    <br></br>
    <br></br>
    <form action="/add-question" method="POST">
        <input  type="hidden" name="id" th:value="${courseId}"></input>
        <label>Pytanie:</label>
        <input  type="text" name="question"></input>
        <label>Odpowiedź:</label>
        <input  type="text" name="answer"></input>
        <br></br>
        <input type="submit" value="Dodaj pytanie"></input>
    </form>



</div><!-- /.container -->
<footer th:replace="footer :: footer"></footer>
</body>
</html>