<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - pole kursu</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>
<div class="wid">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Nazwa:</h3>
            <h3 class="panel-title" th:text="${courseName}"></h3>
        </div>
        <div class="panel-body">
            <div>
                Opis:
            </div>
            <div>
                <span th:text="${courseDescription}"></span>
            </div>
        </div>
    </div>

    <a th:href="@{'/do-course/' + ${courseId}}" class="btn btn-lg btn-info" role="button">Wykonaj kurs</a>

    <br></br>
    <br></br>

    <table class="table">
        <thead>
        <tr>
            <td><b>Pytanie</b></td>
            <td><b>Odpowiedź</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${questions}">
            <td th:text="${item.question}"></td>
            <td th:text="${item.answer}"></td>
        </tr>
        </tbody>
    </table>

    <br></br>
    <br></br>
    <form action="/add-question" method="POST">
        <input type="hidden" name="id" th:value="${courseId}"></input>
        <label>Pytanie:</label>
        <input class="form-control" type="text" name="question"></input>
        <br></br>
        <label>Odpowiedź:</label>
        <input class="form-control" type="text" name="answer"></input>
        <br></br><br></br>
        <input class="btn btn-lg btn-success" type="submit" value="Dodaj pytanie"></input>
    </form>
    <br></br>
    <hr></hr>
    <form action="/deleteCourse" method="POST">
        <input type="hidden" name="courseId" th:value="${courseId}"></input>
        <input class="btn btn-lg btn-danger" type="submit" value="Usuń kurs"></input>
    </form>


</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>