<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - pole kursu</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>

<div class="container">
    <h1>Pytania z kursu <span th:text="${courseName}"></span></h1>
    <br></br>
    <br></br>

    <table class="table">
        <thead>
        <tr>
        <th>
        <td>Pytanie</td>
        <td>Odpowiedź</td>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${questions}">
            <td th:text="${item.question}"></td>
            <td th:text="${item.answer}"></td>
        </tr>
        </tbody>
    </table>

    <br></br>
    <br></br>
    <form action="/add-question" method="POST">
        <input  type="hidden" name="id" th:value="${courseId}"></input>
        <label>Pytanie:</label>
        <input  type="text" name="question"></input>
        <label>Odpowiedź:</label>
        <input  type="text" name="answer"></input>
        <br></br><br></br>
        <input type="submit" value="Dodaj pytanie"></input>
    </form>



</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>