<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Fiszki - profil użytkowika</title>
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="/css/common.css" rel="stylesheet" media="screen"/>
    <link href="/css/singing.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<nav th:replace="header :: header"></nav>
<div class="jumbotron">
    <div class="wid">
        <h1>Profil użytkownika <span th:text="${user.firstName}"></span></h1>
        <h2>Podstawowe dane</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>Imię</td>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td th:text="${user.lastName}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
        <a href="preferences" class="btn btn-info" role="button">Edytuj profil</a>
    </div>
    <footer th:replace="footer :: footer"></footer>
</div>
</body>
</html>